<h2>Đây là Person</h2>
<form asp-action="Index">
    <label>Nhập thông tin</label>
    <input type="text" name="PersonID" placeholder="PersonID">
    <input type="text" name="PersonName" placeholder="PersonName">
    <input type="text" name="PersonAddress" placeholder="PersonAddress">
    <input type="submit" name="Send">
</form>
<h3>@ViewBag.ps</h3>