<h1>Tính lương</h1>
<form asp-action="Index">
  <label>Nhập lương cơ bản</label>
  <input type="text" name="LuongCB">
  <br>
  <label>Nhập hệ số</label>
  <input type="text" name="Heso">
  <br>
  <label>Nhập phụ cấp</label>
  <input type="text" name="Phucap">
  <br>
  <input type="submit" value="Tính lương">
</form>
<h2>@ViewBag.Tinhluong</h2>