<h1>Giải Phương Trình Bậc Hai</h1>
<form asp-action="Index">
  <label>Nhập hệ số A</label>
  <input type="text" name="HesoA">
  <br>
  <label>Nhập hệ số B</label>
  <input type="text" name="HesoB">
  <br>
  <label>Nhập hệ số C</label>
  <input type="text" name="HesoC">
  <br>
  <input type="submit" value="Giải phương trình">
</form>
<h1>@ViewBag.GPTB2</h1>